div(id="box")
    nav
        a(href="#")
            img(src="img/logo.png", alt="佳源木業 logo")
        div(class="link")
            a(href="#") 關於佳源
            a(href="#") 營業項目
            a(href="#") 購買須知
            a(href="#") 提供服務
            a(href="#") 聯絡我們