<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜購買須知
        link(rel="stylesheet", href="style.css")
    body      
        //- 頁首區塊
        section(id="notice-header")
            //- 導覽列
            nav
                a(href="index.html")
                    img(src="img/logo.png", alt="佳源木業 logo",class="logo") 
                div(id="link-notice")
                        a(href="#notice-1") 購買流程
                        a(href="#notice-2") 購買須知
            
        //- 購買流程
        section(id="notice-1")
            h1 購買流程
            article
                main
                main
                main
                main
                main
                main
        
        //- 購買須知
        section(id="notice-2")
            h1 購買須知
            article(id="notice-text")

        include footer 