<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜營業項目
        link(rel="stylesheet", href="style.css")
    body
        //- 導入頁面
        section(id="product-header")
            //- 導覽列
            nav
                a(href="index.html")
                    img(src="img/logo.png", alt="佳源木業 logo",class="logo") 
                div(id="link-product")
                        a(href="product-b.html") 商業/傢俱/其他
                        a(href="#product-2") 木材/木箱/棧板
                        a(href="#product-3") 商品實拍
            //- 頁首內容
            div(id="header-box")
                img(src="img/product.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat architecto ipsam deleniti doloribus et debitis? Incidunt labore omnis placeat exercitationem necessitatibus cum ut, velit cumque! Sint quae amet facilis nostrum!
        
        //- 產品
        include product-b.html

        include footer 