mixin table(img,text)
    div(class="card")
        img(src="table/"+img+".jpg", alt="")
        p= text
mixin bed(img,text)
    div(class="card")
        img(src="bed/"+img+".jpg", alt="")
        p= text


<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜商業/傢俱/其他
        link(rel="stylesheet", href="style.css")
    body
        section(id="product-1")
            div(class="card-box")
                +table("table01","桌子一")
                +table("table02","桌子一")
                +table("table03","桌子一")
                +table("table04","桌子一")
                +table("table05","桌子一")
                +table("table06","桌子一")
                +table("table07","桌子一")
                +table("table08","桌子一")
                +table("table09","桌子一")
                +table("table10","桌子一")
                +table("table11","桌子一")
                +table("table12","桌子一")
                +table("table13","桌子一")
                +table("table14","桌子一")
                +table("table15","桌子一")
                +table("table16","桌子一")
                +table("table17","桌子一")
                +table("table18","桌子一")
                +table("table19","桌子一")
                +table("table20","桌子一")
                +table("table21","桌子一")
                +table("table22","桌子一")
                +table("table23","桌子一")
                +table("table24","桌子一")
                +table("table25","桌子一")
                +table("table26","桌子一")
                +table("table27","桌子一")
                +table("table28","桌子一")
                +table("table29","桌子一")
                +table("table30","桌子一")
                +table("table31","桌子一")
                +table("table32","桌子一")
                +table("table33","桌子一")
            div(class="card-box")
                +bed("bed01","桌子一")
                +bed("bed02","桌子一")
                +bed("bed03","桌子一")
                +bed("bed04","桌子一")
                +bed("bed05","桌子一")
                +bed("bed06","桌子一")
                +bed("bed07","桌子一")
                +bed("bed08","桌子一")
              