mixin product(img,text)
    div(class="card")
        img(src="img/table/"+img+".jpg", alt="")
        p= text

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜商業/傢俱/其他
        link(rel="stylesheet", href="style.css")
    body
        section(id="product-1")
            div(class="card-box")
                +product("table01","桌子一")
                +product("table02","桌子一")
                +product("table03","桌子一")
                +product("table04","桌子一")
                +product("table05","桌子一")
                +product("table06","桌子一")
                +product("table07","桌子一")
                +product("table08","桌子一")
                +product("table09","桌子一")
                +product("table10","桌子一")
                +product("table11","桌子一")
                +product("table12","桌子一")
                +product("table13","桌子一")
                +product("table14","桌子一")
                +product("table15","桌子一")
                +product("table16","桌子一")
                +product("table17","桌子一")
                +product("table18","桌子一")
                +product("table19","桌子一")
                +product("table20","桌子一")
                +product("table21","桌子一")
                +product("table22","桌子一")
                +product("table23","桌子一")
                +product("table24","桌子一")
                +product("table25","桌子一")
                +product("table26","桌子一")
                +product("table27","桌子一")
                +product("table28","桌子一")
                +product("table29","桌子一")
                +product("table30","桌子一")
                +product("table31","桌子一")
                +product("table32","桌子一")
                +product("table33","桌子一")
            div(class="card-box")
                +product("bed01","桌子一")
                +product("bed02","桌子一")
                +product("bed03","桌子一")
                +product("bed04","桌子一")
                +product("bed05","桌子一")
                +product("bed06","桌子一")
                +product("bed07","桌子一")
                +product("bed08","桌子一")
              