mixin store(img,text)
    div(class="storecard")
        img(src="store/"+img+".jpg", alt="")
        p= text

html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜商品實拍
        link(rel="stylesheet", href="style.css")
    body
        //- 導入頁面
        section(class="product-header")
            //- 導覽列
            nav
                a(href="index.html")
                    img(src="img/logo.png", alt="佳源木業 logo",class="logo") 
                div(class="link-product")
                        a(href="product-one.html") 商業/傢俱/其他
                        a(href="product-two.html") 木材/木箱/棧板
                        a(href="product-three.html") 商品實拍
            //- 頁首內容
            div(class="header-box")
                img(src="img/product.png", alt="")
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat architecto ipsam deleniti doloribus et debitis? Incidunt labore omnis placeat exercitationem necessitatibus cum ut, velit cumque! Sint quae amet facilis nostrum!
        
        //- 產品
        section(id="product-3")
            div(class="card-box")
                +store("store1","商品實拍")
                +store("store2","商品實拍")
                +store("store3","商品實拍")
                +store("store4","商品實拍")
                +store("store5","商品實拍")
                +store("store6","商品實拍")
                +store("store7","商品實拍")
                +store("store8","商品實拍")
                +store("store9","商品實拍")
                +store("store10","商品實拍")
                +store("store11","商品實拍")
                +store("store12","商品實拍")
                +store("store13","商品實拍")
                +store("store14","商品實拍")
                +store("store15","商品實拍")
                +store("store16","商品實拍")
                +store("store17","商品實拍")
                +store("store18","商品實拍")
                +store("store19","商品實拍")
                +store("store20","商品實拍")
                +store("store21","商品實拍")
                +store("store22","商品實拍")
                +store("store23","商品實拍")
                +store("store24","商品實拍")
                +store("store25","商品實拍")
                +store("store26","商品實拍")
                +store("store27","商品實拍")
                +store("store28","商品實拍")
                +store("store29","商品實拍")
                +store("store30","商品實拍")
                +store("store31","商品實拍")
                +store("store32","商品實拍")
                +store("store33","商品實拍")
                +store("store34","商品實拍")
                +store("store35","商品實拍")
                +store("store36","商品實拍")
                +store("store37","商品實拍")
                +store("store38","商品實拍")
                +store("store39","商品實拍")
                +store("store40","商品實拍")
                +store("store41","商品實拍")
                +store("store42","商品實拍")
                +store("store43","商品實拍")
                +store("store44","商品實拍")
                +store("store45","商品實拍")
                +store("store46","商品實拍")
                +store("store47","商品實拍")
                +store("store48","商品實拍")
                +store("store49","商品實拍")
                +store("store50","商品實拍")
                +store("store51","商品實拍")
                +store("store52","商品實拍")
                +store("store53","商品實拍")
                +store("store54","商品實拍")
                +store("store55","商品實拍")
                +store("store56","商品實拍")
                +store("store57","商品實拍")
                +store("store58","商品實拍")
                +store("store59","商品實拍")

               
        

        include footer 