<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 佳源木業｜營業項目
        link(rel="stylesheet", href="style.css")
    body
        //- header
        section(id="product-header")
            //- 導覽列
            nav
                a(href="index.html")
                    img(src="img/logo.png", alt="佳源木業 logo",class="logo") 
                div(id="link-product")
                        a(href="#product-1") 商業/傢俱/其他
                        a(href="#product-2") 木材/木箱/棧板
                        a(href="#product-3") 商品實拍
            
        //- 商業/傢俱/其他
        section(id="product-1")
        
        //- 木材/木箱/棧板
        section(id="product-2")

        //- 商品實拍
        section(id="product-3")

        include footer 