*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,1);
    font-family: 微軟正黑體;
}

////////////index.pug

// 導覽列區塊
nav{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #FFDFBA;
    .logo{
        width: 5%;
    }
    #link-index{
        float:right;
        margin: 20px 0 0 0;
        width: 700px;
        a{
            text-decoration: none;
            margin: 0 12px;
            padding: 10px 25px;
            color: #99633C;
            font-size: 17px;
        }
    }
}
// 頁首區塊
header{
    padding-top: 100px;
    background-color: #FFDFBA;
    height: 100vh;
}
#container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:95px;
    width: 1100px;
    margin: 150px auto;
}
.box1{
    h1{
        width: 600px;
        color: #99633C;
        font-size: 48px;
        margin-bottom: 30px;
    }
    p{
        width: 500px;
        font-size: 20px;
        color: #99633C;
        margin-bottom: 70px;
    }
    a{
        width: 160px;
        font-size: 28px;
        color: #FFDFBA;
        border: 0px solid #000;
        border-radius: 10px;
        background-color:#653810;
        padding: 10px 20px;
        text-decoration: none;
    }
}
    // 圖片（先用色塊替代）
#color{
    width: 400px;
    height: 400px;
    background-color: #653810;
}

// about 關於佳源
#about{
    height: 90vh;
    background-color: #E1AC73;
    padding-top:180px; 
}

#container2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:95px;
    width: 1100px;
    margin: 0 auto;

}
.box2{
    #about-box{
        width: 400px;
        height: 400px;
        background-color: #7E4E27;
    }
    p{
        font-size: 20px;
        width: 500px;
        height: 400px;
        color: #99633C;
    }

}


// // 購物指南
#notice{
    height: 90vh;
    background-color: #BF8752;
    padding-top:100px; 
    a{
        display:block;
        width: 160px;
        font-size: 28px;
        color: #FFDFBA;
        border: 0px solid #000;
        border-radius: 10px;
        background-color:#653810;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        margin: auto;;
    }
}

#big{
    width: 850px;
    margin: 0 auto 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 250px;
    
    #notice-A{
        width: 300px;
        text-align: center;
        p{
            width: 300px;
            margin-top:30px;
            color: #F8C799;
        }
        img{
            width: 90%;
        }
    }
    
    #notice-B{
        width: 300px;
        text-align: center;
        p{
            width: 300px;
            margin-top:30px;
            color: #F8C799;
        }
        img{
            width: 90%;
            // height: 80%;
        }
    }
}

// // 提供服務
#service{
    height: 90vh;
    background-color: #99633C;
    padding-top:100px; 
    a{
        display:block;
        width: 160px;
        font-size: 28px;
        color: #FFDFBA;
        border: 0px solid #000;
        border-radius: 10px;
        background-color:#653810;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        margin: auto;;
    }
    
}

#big2{
    width: 1100px;
    margin: 0 auto 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    
    #service-C{
        width: 300px;
        text-align: center;
        p{
            width: 300px;
            margin-top:30px;
            color: #F8C799;
        }
        #CCC{
            width: 300px;
            height: 300px;
            margin-bottom:30px; 
            background-color: #F8C799;
        }
        img{
            height: 60%;
        }
    }  
    #service-D{
        width: 300px;
        text-align: center;
        p{
            width: 300px;
            margin-top:30px;
            color: #F8C799;
        }
        #DDD{
        width: 300px;
        height: 300px;
        margin-bottom:30px;
        background-color: #F8C799;
        }
        img{
            height: 60%;
        }
    }
    #service-E{
        width: 300px;
        text-align: center;
        p{
            width: 300px;
            margin-top:30px;
            color: #F8C799;
        }
        #EEE{
        width: 300px;
        height: 300px;
        margin-bottom:30px;
        background-color: #F8C799;
        }
        img{
            height: 60%;
        }
    }
}

// // 聯絡我們
#contact{
    height: 90vh;
    background-color: #653810;
    padding-top:180px; 
}

#container3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:95px;
    width: 1100px;
    margin: 0 auto;
}

.box3{
    #contact-box{
        width: 400px;
        height: 400px;
        background-color: #FFDFBA;
    }
    p{
        font-size: 20px;
        width: 500px;
        height: 400px;
        color: #FFDFBA;
    }
}
    

// * 頁尾
footer{
    background-color: #3C2212;
    color: #BFA588;
    height: 20vh;
    text-align: center;
    line-height: 150px;
}

////////////product.pug

// 頁首
#product-header{
    padding-top: 100px;
    background-color: #FFDFBA;
    height: 100vh;
}

nav{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #FFDFBA;
    .logo{
        width: 5%;
    }
    #link-product{
        float:right;
        margin: 20px 0 0 0;
        width: 550px;
        a{
            text-decoration: none;
            margin: 0 12px;
            padding: 10px 25px;
            color: #99633C;
            font-size: 17px;
        }
    }
}

#product-1{
    height: 180vh;
    background-color: #E1AC73;
    padding-top:180px; 
}

#product-2{
    height: 100vh;
    background-color: #BF8752;
    padding-top:180px; 
}

#product-3{
    height: 100vh;
    background-color: #99633C;
    padding-top: 180px;
}

////////////notice.pug

// 頁首

#notice-header{
    padding-top: 100px;
    background-color: #FFDFBA;
    height: 100vh;
}

nav{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #FFDFBA;
    .logo{
        width: 5%;
    }
    #link-notice{
        float:right;
        margin: 20px 0 0 0;
        width: 300px;
        a{
            text-decoration: none;
            margin: 0 12px;
            padding: 10px 25px;
            color: #99633C;
            font-size: 17px;
        }
    }
}

#notice-1{
    height: 100vh;
    background-color: #E1AC73;
    padding-top:180px; 
}

#notice-2{
    height: 100vh;
    background-color: #99633C;
    padding-top:180px; 
}

////////////contact.pug

// 提供服務

// 頁首
#service-header{
    padding-top: 100px;
    background-color: #FFDFBA;
    height: 100vh;
}

nav{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: #FFDFBA;
    .logo{
        width: 5%;
    }
    #link-service{
        float:right;
        margin: 20px 0 0 0;
        width: 300px;
        a{
            text-decoration: none;
            margin: 0 12px;
            padding: 10px 25px;
            color: #99633C;
            font-size: 17px;
        }
    }
}
// 組裝
#service-1{
    height: 90vh;
    background-color: #E1AC73;
    padding-top:180px; 
}

#container4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:95px;
    width: 1100px;
    margin: 0 auto;
}

.box4{
    #service-box1{
        width: 400px;
        height: 400px;
        background-color: #653810;
    }
    p{
        font-size: 20px;
        width: 500px;
        height: 400px;
        color: #653810;
    }

}

// 運送
#service-2{
    height: 90vh;
    background-color: #BF8752;
    padding-top:180px; 
}

#container5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:95px;
    width: 1100px;
    margin: 0 auto;
}

.box5{
    #service-box2{
        width: 400px;
        height: 400px;
        background-color: #FFDFBA;
    }
    p{
        font-size: 20px;
        width: 500px;
        height: 400px;
        color: #FFDFBA;
    }

}

// 售後
#service-3{
    height: 90vh;
    background-color: #99633C;
    padding-top:180px; 
}

#container6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:95px;
    width: 1100px;
    margin: 0 auto;
}

.box6{
    #service-box3{
        width: 400px;
        height: 400px;
        background-color: #E1AC73;
    }
    p{
        font-size: 20px;
        width: 500px;
        height: 400px;
        color: #E1AC73;
    }

}



// // 購買須知
// // 提供服務
// // 聯絡我們

