@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid black;
  font-family: 微軟正黑體;
}

header {
  padding-top: 96px;
  background-color: #FFDFBA;
  height: 100vh;
}

header nav {
  width: 86%;
  margin: 0 auto;
  background-color: #FFDFBA;
}

header nav .logo {
  width: 6%;
}

header nav #link-index {
  float: right;
  margin: 28px 0;
  width: 632px;
}

header nav #link-index a {
  text-decoration: none;
  margin: 0 4px;
  padding: 8px 24px;
  color: #99633C;
  font-size: 17px;
}

header #container1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 1200px;
  margin: 80px auto;
}

header #container1 .box1 h1 {
  width: 580px;
  color: #99633C;
  font-size: 48px;
  margin-bottom: 24px;
  margin-top: 64px;
}

header #container1 .box1 p {
  width: 500px;
  font-size: 20px;
  color: #99633C;
  margin-bottom: 64px;
}

header #container1 .box1 a {
  width: 160px;
  font-size: 28px;
  color: #FFDFBA;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #653810;
  padding: 10px 20px;
  text-decoration: none;
}

header #container1 .box1 img {
  width: 680px;
}

#about {
  height: 90vh;
  background-color: #F8C799;
  padding-top: 180px;
}

#about #container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  width: 1300px;
  margin: 0 auto;
}

#about #container2 .box2 img {
  width: 680px;
}

#about #container2 .box2 p {
  font-size: 20px;
  width: 500px;
  height: 365px;
  color: #99633C;
  margin-top: 40px;
}

#notice {
  height: 90vh;
  background-color: #BF8752;
  padding-top: 100px;
}

#notice #big {
  width: 850px;
  margin: 0 auto 70px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 250px;
}

#notice #big #notice-A {
  width: 300px;
  text-align: center;
}

#notice #big #notice-A p {
  width: 300px;
  margin-top: 30px;
  color: #F8C799;
}

#notice #big #notice-A img {
  width: 100%;
}

#notice #big #notice-B {
  width: 300px;
  text-align: center;
}

#notice #big #notice-B p {
  width: 300px;
  margin-top: 30px;
  color: #F8C799;
}

#notice #big #notice-B img {
  width: 100%;
}

#notice a {
  display: block;
  width: 160px;
  font-size: 28px;
  color: #FFDFBA;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #653810;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

#service {
  height: 90vh;
  background-color: #99633C;
  padding-top: 100px;
}

#service #big2 {
  width: 1100px;
  margin: 0 auto 70px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
}

#service #big2 #service-C {
  width: 300px;
  text-align: center;
}

#service #big2 #service-C p {
  width: 300px;
  margin-top: 30px;
  color: #F8C799;
}

#service #big2 #service-C img {
  width: 100%;
}

#service #big2 #service-D {
  width: 300px;
  text-align: center;
}

#service #big2 #service-D p {
  width: 300px;
  margin-top: 30px;
  color: #F8C799;
}

#service #big2 #service-D img {
  width: 100%;
}

#service #big2 #service-E {
  width: 300px;
  text-align: center;
}

#service #big2 #service-E p {
  width: 300px;
  margin-top: 30px;
  color: #F8C799;
}

#service #big2 #service-E img {
  width: 100%;
}

#service a {
  display: block;
  width: 160px;
  font-size: 28px;
  color: #FFDFBA;
  border: 0px solid #000;
  border-radius: 10px;
  background-color: #653810;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

#contact {
  height: 90vh;
  background-color: #653810;
  padding-top: 180px;
}

#contact #container3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#contact #container3 .box3 p {
  font-size: 20px;
  width: 500px;
  height: 400px;
  color: #FFDFBA;
}

#contact #container3 .box3 img {
  width: 600px;
}

#product-header {
  padding-top: 100px;
  background-color: #FFDFBA;
  height: 100vh;
}

#product-header nav {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #FFDFBA;
}

#product-header nav .logo {
  width: 5%;
}

#product-header nav #link-product {
  float: right;
  margin: 20px 0 0 0;
  width: 550px;
}

#product-header nav #link-product a {
  text-decoration: none;
  margin: 0 12px;
  padding: 10px 25px;
  color: #99633C;
  font-size: 17px;
}

#product-header #header-box img {
  width: 30%;
  display: block;
  margin: 80px auto 40px auto;
}

#product-header #header-box p {
  width: 30%;
  text-align: center;
  margin: auto;
}

#product-1 {
  height: 180vh;
  background-color: #E1AC73;
  padding-top: 180px;
}

#product-1 .slider {
  margin: 20px 0;
}

#product-1 .slider button {
  display: none !important;
}

#product-2 {
  height: 100vh;
  background-color: #BF8752;
  padding-top: 180px;
}

#product-2 .slider2 {
  margin: 20px 0;
}

#product-2 .slider2 button {
  display: none !important;
}

#product-3 {
  height: 100vh;
  background-color: #99633C;
  padding-top: 180px;
}

#product-3 .slider {
  margin: 20px 0;
}

#product-3 .slider button {
  display: none !important;
}

#notice-header {
  padding-top: 100px;
  background-color: #FFDFBA;
  height: 100vh;
}

#notice-header nav {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #FFDFBA;
}

#notice-header nav .logo {
  width: 5%;
}

#notice-header nav #link-notice {
  float: right;
  margin: 20px 0 0 0;
  width: 300px;
}

#notice-header nav #link-notice a {
  text-decoration: none;
  margin: 0 12px;
  padding: 10px 25px;
  color: #99633C;
  font-size: 17px;
}

#notice-1 {
  height: 100vh;
  background-color: #E1AC73;
  padding-top: 180px;
}

#notice-2 {
  height: 100vh;
  background-color: #99633C;
  padding-top: 180px;
}

#service-header {
  padding-top: 100px;
  background-color: #FFDFBA;
  height: 100vh;
}

#service-header nav {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #FFDFBA;
}

#service-header nav .logo {
  width: 5%;
}

#service-header nav #link-service {
  float: right;
  margin: 20px 0 0 0;
  width: 300px;
}

#service-header nav #link-service a {
  text-decoration: none;
  margin: 0 12px;
  padding: 10px 25px;
  color: #99633C;
  font-size: 17px;
}

#service-1 {
  height: 90vh;
  background-color: #E1AC73;
  padding-top: 180px;
}

#service-1 #container4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#service-1 #container4 .box4 #service-box1 {
  width: 400px;
  height: 400px;
  background-color: #653810;
}

#service-1 #container4 .box4 p {
  font-size: 20px;
  width: 500px;
  height: 400px;
  color: #653810;
}

#service-2 {
  height: 90vh;
  background-color: #BF8752;
  padding-top: 180px;
}

#service-2 #container5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#service-2 #container5 .box5 #service-box2 {
  width: 400px;
  height: 400px;
  background-color: #FFDFBA;
}

#service-2 #container5 .box5 p {
  font-size: 20px;
  width: 500px;
  height: 400px;
  color: #FFDFBA;
}

#service-3 {
  height: 90vh;
  background-color: #99633C;
  padding-top: 180px;
}

#service-3 #container6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 95px;
  width: 1100px;
  margin: 0 auto;
}

#service-3 #container6 .box6 #service-box3 {
  width: 400px;
  height: 400px;
  background-color: #E1AC73;
}

#service-3 #container6 .box6 p {
  font-size: 20px;
  width: 500px;
  height: 400px;
  color: #E1AC73;
}

footer {
  background-color: #3C2212;
  color: #BFA588;
  height: 20vh;
  text-align: center;
  line-height: 150px;
}
/*# sourceMappingURL=style.css.map */